body {
	background-color: grey !important;
}

.container:first-child {
  	min-height: 100vh;
}

h1, h2, h3 {
	text-align: center;
}

h1, h2 {
	padding-bottom: 2rem !important;
}

.icon-header {
	font-size: 2rem;
}

.nav-header {
	font-size: 2rem;
}

.ui {
   font-family: 'Quicksand', sans-serif !important;
}

.ui p {  
	font-size: 1.3rem;
	margin: 0 6%;
  	margin-bottom: 15px;
}

.ui.segment.main-container {
	margin: 4rem auto !important;
	min-height: 40vh;
	width: 80vw;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	box-shadow: 0 16px 28px 0 rgba(0,0,0,.22);
}

.winner {
	background-color: blue;
}

div .circular-winner {
	display: flex;
	justify-content: center;
}

div#circular-winner:first-child {
	padding-top: 5rem;
	background-color: orange;
	border: none;
}

#create-button {
	margin-top: 40px;
}

#survey-title {
	positon: absolute;
	right: 0px;
}

.ui.button.center-button {
	display: block;
	margin: 0 auto;
}

.ui.button.float-right {
	display: inline-block;
	float: right;
}

.ui.button.center {
	display: block;
	margin: 0 auto;
}

