body {
	background-color: #1e2761 !important;
}

.container:first-child {
  	min-height: 100vh;
}

h1, h2, h3 {
	text-align: center;
}

h1, h2 {
	padding-bottom: 2rem !important;
}

h1.ui.header, h2.ui.header, h3.ui.header {
	color: #FFFFFF;
}

.ui.menu .item.icon-header {
	font-size: 2rem;
	color: #FFFFFF;
}

.ui.menu .item.nav-header {
	font-size: 2rem;
	color: #FFFFFF;
}

.ui.button, .ui.input {
	border: 2px solid #7a2048 !important;
	border-radius: 0.3rem;
	background-color: #1e2761 !important;
	color: #FFFFFF !important;
}

.ui.button:hover {
	background-color: #7a2048 !important;
}

.ui.secondary.pointing.menu {
	border-bottom: 2px solid #7a2048 !important;
}

.ui {
   font-family: 'Quicksand', sans-serif !important;
   color: #FFFFFF;
}

.ui p {  
	font-size: 1.3rem;
	margin: 0 6%;
  	margin-bottom: 15px;
}

.ui.segment.main-container {
	margin: 4rem auto !important;
	min-height: 40vh;
	width: 80vw;
	background-color: #1e2761;
	border: 2px solid #7a2048;
	box-shadow: 0 16px 28px 0 rgba(0,0,0,.22);
}

.ui.table {
	border: 2px solid #7a2048 !important;
}

.ui.table colgroup #winner, #winner {
	background-color: #9c2259 !important;
}

thead td {
	font-weight: bold;
	border-bottom: 2px solid #7a2048;
}

.ui.table tfoot td {
	font-weight: bold;
	border-top: 2px solid #7a2048 !important;
}

div .circular-winner {
	display: flex;
	justify-content: center;
}

div#circular-winner:first-child {
	padding-top: 5rem;
	background-color: #7a2048;
	border: 2px solid #FFFFFF;
}

#create-button {
	margin-top: 40px;
}

#survey-title {
	positon: absolute;
	right: 0px;
}

.ui.button.center-button {
	display: block;
	margin: 0 auto;
}

.ui.button.float-right {
	display: inline-block;
	float: right;
}

.ui.button.center {
	display: block;
	margin: 0 auto;
}

